body{
    background-color: black;
    color: white;
}
.brif3-mobile-menu {
    display: none;
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .brif3-menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .brif3-dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 46px;
    right: 0;
    background-color: #2a2a2a;
    padding: 9% 0;
    width: 100%;
  }
  .brif3-mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .brif3-mobile-menu .brif3-dropdown-menu a {
    padding: 34px;
  }
  
  .brif3-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .brif3-dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .brif3-dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.brif3-mobile-menu {
  display: none;
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.brif3-menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.brif3-dropdown-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 46px;
  right: 0;
  background-color: #2a2a2a;
  padding: 9% 0;
  width: 100%;
}
.brif3-mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.brif3-mobile-menu .brif3-dropdown-menu a {
  padding: 34px;
}

.brif3-dropdown {
  position: relative;
  display: inline-block;
}

.brif3-dropbtn {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.brif3-dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
header{
    display: flex;
}
.brif3-main-navbar{
    width: 100vw;
    display: flex;
}
.main-nav-sub{
    justify-content: end;
    
    color: black;
}
.main-nav-container{
    padding-left: 5%;
    padding-right: 5%;
    width: 95vw;
    display: flex;
    justify-content: space-between;
}
.main-nav-container a{
    font-family: Inter;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}
.main-nav-menu{
    justify-content: space-between;
    width: 30vw;
    display: flex;
}

.head{
    display: flex;
    padding: 1% ;
    justify-content: center;
    justify-content: space-between;
    
}
.logo{
    justify-content: start;
}
.types{
    
    justify-content: space-between;     
    display: flex;
    justify-content: end;
    width: 30%;
    
}   
.image1{
    margin: 10%;
}

.types a{
    padding: 0% 6% 6% 0%;
    text-decoration: none;
    color: white;
}
.face {
    background-image: url(../images/face_1.png)!important;
    background-size: cover;
    height: 150vh;
}
.face_text{
    padding: 7%;
    font-size: 17vw;
    font-family: 'Inter';
    
}
.f_text1{
    
}
.f_text2{
    margin-top: 5%;
    
    display: flex;
justify-content: end;
}
.Notreoffretext{
    text-align: justify;
    font-size: 210%;
    margin-bottom: 2%;
}
.lisser{
    margin-left: 2%;
}
.www{
    margin-top: 5%;
    background-image: url(../images/image\ 1.png);
    height: 70vh;
    background-size: cover;
}
.choix_type1{
    padding: 0% 5% 5% ;
    margin-top: 10%;
    font-family: 'Inter';
}
.titre_choix1{
    font-size: 6rem;
    margin-bottom: 8%;
    margin-left: 5%;
}
.titre_choix2{
    font-size: 6rem;
    margin-bottom: 8%;
    margin-left: 5%;

}
.image_choix{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8%;
}
.image_choix img{
    border-radius: 20px;
    width: 100%;
}
.tr img:hover{
    background-image: url(../images/image\ 15.png);
    position: relative;
    z-index: 900;
}
.sub{
    display: flex;
    margin-right: 4vw;
    margin-left: 4vw;
    padding-top: 3%;
    
    justify-content: space-between;
}
.sub_title{
    font-size: 20px;
    margin-left: 10%;
   
}
.image_home{
    width: 100%;
}
.sub_enter input[type = "text"]{
    font-size: 20px;
   width: 75%;  
   background-color: black;
   border-color: white;
   border: none;
   border-bottom: 3px solid;
   
   
}
.btn {
    padding-top: 7%;
    text-align: center;
}
.new-button2{
    font-size: 35px;
    
    background-color: white;
    color: black ;
    border:5px solid;

    border-color: white;
    transition: 1s;
    text-align: center;
  
  }
  .FAQ{
    text-align: center;
    border: none;
    font-size: 2rem;
    border-bottom: 2px solid;

  }
  .util{
    font-size: 2rem;
    margin-bottom: 1%;
  }
  .onquest{
    background-color: grey;
    opacity: 0.5;
    border-radius: 20px;
  }
  .quest{
    
    height: 4rem;
    
    margin-left:3%;
margin-bottom: 10%;

  }
  .prixtitre{
display: grid;
grid-template-columns: repeat(4,1fr);   
text-align: center;
  }
.mintitre{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2%;
    margin-top: 2%;
}
.l999l{
    text-align: center;
    font-size: 2rem;
}
.Special{
    font-size: 3rem;
    margin-left: 5%;
}
.spelem{
    display: flex;margin-bottom: 10%;padding-right: 10%;padding-left: 5%;
}

.image_jacket{
    width: auto;
    transition: 1s;
   
}
.prixresponsive{
    margin-bottom: 5%;
    
}

.Specialprix{
    font-size: 2rem;
    margin-top: 1%;
    margin-left: 1%;
}
.sub_page{
    position: absolute;
    background-color: black;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin: 30%;
    border-radius: 10px;
}

.sginup-sec-content {
  padding: 5% 0;
  display: flex;
  justify-content: center;
}
.signup-form {
  padding: 4%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #ebebeb;
  width: 554px;
}
.signup-form h2 {
  font-size: 2.1rem;
  margin-bottom: 15%;
  text-transform: uppercase;
  font-family: "Lato";
}
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.signup-form label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  padding: 4% 5%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 90%;
  background-color: #d9d9d9;
}

.signup-form button {
  background-color: #363636;
  color: white;
  padding: 22px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.5s;
  width: 100%;
}

.signup-form button:hover {
  background-color: #000000;
  transition: 0.5s;
}
